/* Calendar */
.calendar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendar-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Occupy all available vertical space */
}

.calendar-table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.table-content {
    width: 100%;
    display: flex;
    height: calc(100%/ 7);
    border-bottom: 1px solid black;
}

.table-header {
    display: flex;
    background-color: rgba(189, 195, 199, .8);
}

.weekday {
    width: calc(100% / 7); /* Adjust based on the number of days in a row */
    position: relative;
    border-right: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.calendar-day {
    width: calc(100% / 7); /* Adjust based on the number of days in a row */
    position: relative;
    border-right: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    cursor: pointer;
}

.calendar-day:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.calendar-day p {
    color: #a6a6a6;
}

.current p {
    color: #000000;
}

.selected p {
    color: #cc0000;
    font-weight: bold;
}
