/* Sidebar */
.sidenav {
    height: 100%;
    width: 0;
    position: absolute; /* Set position to absolute */
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: visibility 0.5s, width 0.5s; /* Update transition property */
    z-index: 0; /* Ensure sidebar is below navbar */
}

.sidenav.open {
    height: 100%;
    width: 250px;
    /* Adjust the width of the sidebar */
    visibility: visible;
    /* Ensure the sidebar is visible when open */
}

.contentContainer {
    margin-top: 25%;
    color: white;
    justify-content: space-between;
    align-items: stretch;
    overflow-x: hidden;
    gap: 2rem;
    justify-content: space-between;
    position: relative; /* Set position to relative */
}

.add_btn {
    background-color: #444;
    color: white;
    padding: 16px;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    position: relative;
    display: flex; /* Change display to flex */
    align-items: center; /* Align items vertically */
}

.add_btn svg {
    margin-left: 3rem; /* Add margin to the right of the icon */
}

.add_btn:hover {
    color: black;
}

.dropdown-container{
    background-color: #222;
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: visibility 0.5s, width 0.5s; /* Update transition property */
}
.dropdown-container.open {
    visibility: visible; /* Ensure the sidebar is visible when open */
}

.dropdown-container button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:  white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.dropdown-container button:hover {
    color: white;
    background-color: black;
}

.main-content {
    margin-left: 0; /* Adjust margin to account for the navbar width */
    padding-left: 0; /* Adjust padding to account for the navbar width */
}

.sidebar-open .main-content {
    margin-left: 250px; /* Same width as the sidebar when open */
    padding-left: 20px; /* Add padding for better visual separation */
}