body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.container {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr 35px;
  grid-template-rows: 1fr;
}

.dashboard {
  background-color: #FF5733;
  grid-column: 1 / 1;
  grid-row: 1 / 2;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.main {
  background-color: #80CED7;
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.rightboard {
  background-color: #F4D35E;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}