body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.container {
  margin: 0%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.dashboard {
  background-color: rgba(239, 239, 240, 0.7);
  border-right: 1px solid #333;
  width: 10%;
  transition: all .5s ease;
}

.dashboard.active{
  width: .5%;
}
.dashboard.active .dashboard-container{
  visibility: hidden;
}

.main {
  background-color: rgba(239, 239, 240, 0.8);
  flex-grow: 1; /* Occupy remaining space */
  transition: all .5s ease;
}


.rightboard {
  background-color: rgba(239, 239, 240, 0.7);
  border-left: 1px solid #333;
  width: 2.5%;
}

.rightboard.active {
  width:0%
}

.rightboard.active .rightboard-container .arrow-btn {
  position: absolute; /* Position the arrow button absolutely */
  border-radius: 50%;
  transform: translateY(-50%); /* Center vertically */
  transform: rotate(180deg);
  visibility: visible;
  right: -1%;
  transition: all transform 0.5s; /* Add transition for smooth animation */
}
.rightboard.active .rightboard-container .arrow-btn:hover{
  border-radius: 0%;
  transform: rotate(180deg) scaleX(2rem);
  right: 0.1%;
}

.rightboard.active .rightboard-container svg{
  visibility: hidden;
}